<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>This is the home page 1+2</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= "taufiq".toUpperCase() %></h3>
    <h3><%= ["apple","mango","taufiq","simran"][3] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sint perferendis in magnam maxime earum obcaecati dolorum corrupti eaque consequuntur culpa id et, laudantium facere quisquam repellat, expedita qui omnis?</p>
    <button>Click me</button>
</body>
</html>